* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #141733;
  
}

ol,
ul,
li {
  list-style: none;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
textarea,
select {
  -moz-appearance: none !important;
  appearance: none !important;
  -webkit-appearance: none !important;
  border-radius: 0;
}


/* NAVBAR CSS */

#navBar{
  z-index: 99;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
}

.navMainDiv{
  background-color: white;
}


#navMainDiv{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items:center;
  gap: 350px;
  background-color: white
}

#logoDiv{
  margin-top: 3px;
  margin-left: 30px;
}


#navList{
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-weight: 500;
}

/* background-color: #ebe9eb; */

/* Welcome CSS */

#welcomeMain{
  position: relative;
  width: 100%;
  height: 100vh;
  background-color:#ebe9eb;
}

#welcomeText{
  position: absolute;
  top: 30%;
  left: 7%;
}

#welcomeImg{
  position: absolute;
  top: 30%;
  right:0;
}




